@page "/room/{RoomName}"
@implements IDisposable

<PageTitle>Room</PageTitle>

<div class="room">
	<PlayerInfo RoomName="@RoomName"/>
	<GameField RoomName="@RoomName" />
	@for(var i = 0; i < opponents.Count; ++i)
	{
		<PlayerInfo RoomName="@RoomName" Position="@positon[i]" Info="@opponents[i]"/>
	}
</div>

@code {
	[Inject]
	public GameClient GameClient { get; set; }

	[Parameter]
	public string RoomName { get; set; }

	private List<string> positon = ["left", "top", "right"];

	private List<Player> opponents = [];

	protected override async Task OnInitializedAsync()
	{
		GameClient.OnRoomsUpdated += UpdateOpponents;
		UpdateOpponents();
	}

	private void UpdateOpponents()
	{
		if (GameClient.Rooms.ContainsKey(RoomName) && GameClient.Player != null)
		{
			opponents = GameClient.Rooms[RoomName].Players.FindAll(p => p.Id != GameClient.Player.Id);
			StateHasChanged();
		}
	}

	public async void Dispose()
	{
		GameClient.OnRoomsUpdated -= UpdateOpponents;
	}
}
